#public net.minecraft.client.renderer.entity.EntityRenderer func_225624_a_(Lnet/minecraft/entity/Entity;Lnet/minecraft/util/math/BlockPos;)I # getBlockLightLevel
public  net.minecraft.client.renderer.RenderStateShard f_110139_  #TRANSLUCENT_TRANSPARENCY
public  net.minecraft.client.renderer.RenderStateShard f_110110_ #NO_CULL
public  net.minecraft.client.renderer.RenderStateShard f_110115_ #COLOR_WRITE
public  net.minecraft.client.renderer.RenderStateShard f_110113_ #LEQUAL_DEPTH_TEST